In [1]:
# Importing necessary libraries and importing CSV files into respective dataframes

import pandas as pd

df_CPI = pd.read_csv("./data/housing-affordability-in-canada/CPI-inflation-by-region-1914-202.csv")
df_Housing = pd.read_csv("./data/housing-affordability-in-canada/housing-supply-price-rental.csv")
df_HPIRegions = pd.read_csv("./data/housing-affordability-in-canada/HPI 1981-2022 by regions.csv")
df_HPIFederalandProvincial = pd.read_csv("./data/housing-affordability-in-canada/HPI 1981-2022 federal and provincial.csv")
df_Income = pd.read_csv("./data/housing-affordability-in-canada/income-distribution-2012-2020.csv")
df_Interest = pd.read_csv("./data/housing-affordability-in-canada/Interest and mortgage rates 1951-2022.csv")
df_PopulationDwellings = pd.read_csv("./data/housing-affordability-in-canada/population_dwellings_count.csv")
df_PopulationRegion = pd.read_csv("./data/housing-affordability-in-canada/population-by-region-1946-2022.csv")
df_Structural = pd.read_csv("./data/housing-affordability-in-canada/Structural-dwellings-household-size.csv")

In [2]:
# Removes region rows that aren't Canada and selects "All-items"
df_CPI = df_CPI[df_CPI['GEO'] == 'Canada']
df_CPI.drop(columns=['GEO'], inplace=True)
df_CPI = df_CPI[df_CPI['Products and product groups'] == 'All-items']
df_CPI.drop(columns=['Products and product groups'], inplace=True)

# Removes unnecessary columns
df_CPI.drop(columns=['DGUID'], inplace=True)
df_CPI.drop(columns=['UOM'], inplace=True)
df_CPI.drop(columns=['UOM_ID'], inplace=True)
df_CPI.drop(columns=['VECTOR'], inplace=True)
df_CPI.drop(columns=['COORDINATE'], inplace=True)

# Standardizes "Date" name and format
df_CPI['Date'] = df_CPI['REF_DATE'].astype(str) + '01'
df_CPI.drop(columns=['REF_DATE'], inplace=True)

#df_CPI.head(108)

In [3]:
# Standardizes "Date" format and name
df_Housing['Date'] = df_Housing['year'].astype(str).str.replace('.0', '').str.replace('.1', '') + '01'

df_Housing = df_Housing[['Date', 'total_dwelling', 'total_dwelling_market', 'labour_participation_rate', 'unemployment_rate', 'disposable_income_change', 
                         'rental_vacancy_rate', 'rental_avilability_rate', 'owned_accommodation_costs_change', 'rental_accommodation_costs_change']]

# Averages all of the stats by following the Date
df_Housing = df_Housing.groupby('Date').mean().reset_index()

#df_Housing.head(27)

/var/folders/nq/ynrswh052nb7tpyrwgjb67q00000gn/T/ipykernel_21336/3639945419.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_Housing['Date'] = df_Housing['year'].astype(str).str.replace('.0', '').str.replace('.1', '') + '01'

In [4]:
# Deletes regions other than Canada
canada_Index = df_HPIRegions.columns.get_loc("Canada")
df_HPIRegions = df_HPIRegions.iloc[:, :canada_Index + 1]

# Removes unnecessary columns
df_HPIRegions.drop(columns = ['Unnamed: 0'], inplace=True)
df_HPIRegions.drop(columns = ['Canada'], inplace=True)

# Converts "Month-year" to standard format and renames column to "Date"
df_HPIRegions['Month-year'] = pd.to_datetime(df_HPIRegions['Month-year'], format='%b-%y')
def adjust_year(date):
    
    if date.year - 2000 >= 25 and date.year - 2000 <= 99:
        return date.replace(year=date.year - 100)

    return date
df_HPIRegions['Month-year'] = df_HPIRegions['Month-year'].apply(adjust_year)
df_HPIRegions['Month-year'] = df_HPIRegions['Month-year'].dt.strftime('%Y%m')
df_HPIRegions.rename(columns={'Month-year': 'Date'}, inplace=True)

#df_HPIRegions.head(1494)

In [5]:
# Standardizes date format and changes title to "Date"
df_Income['Date'] = df_Income['year'].astype(str).str.replace('.0', '') + '01'
df_Income.drop(columns=['year'], inplace=True)

#df_Income.head(9)

# Removes all the "nan01" row values from "Date" column
df_Income = df_Income[df_Income['Date'] != 'nan01']

/var/folders/nq/ynrswh052nb7tpyrwgjb67q00000gn/T/ipykernel_21336/342361304.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_Income['Date'] = df_Income['year'].astype(str).str.replace('.0', '') + '01'

In [6]:
# Standardizes "Date" and format
df_Interest['Date'] = df_Interest['Date'].astype(str).str.replace('-', '')

#df_Interest.head(857)

In [7]:
# Deletes region rows other than Canada
df_PopulationRegion = df_PopulationRegion[df_PopulationRegion['COORDINATE'] == 1]
df_PopulationRegion.drop(columns=['COORDINATE'], inplace=True)
df_PopulationRegion.drop(columns=['GEO'], inplace=True)
df_PopulationRegion.drop(columns=['DGUID'], inplace=True)
df_PopulationRegion.drop(columns=['VECTOR'], inplace=True)

# Converts REF_DATE to standard format and renames column to "Date"
df_PopulationRegion['REF_DATE'] = pd.to_datetime(df_PopulationRegion['REF_DATE'], format='%b-%y')
def adjust_year(date):
    
    if date.year - 2000 >= 25 and date.year - 2000 <= 99:
        return date.replace(year=date.year - 100)

    return date
df_PopulationRegion['REF_DATE'] = df_PopulationRegion['REF_DATE'].apply(adjust_year)
df_PopulationRegion['REF_DATE'] = df_PopulationRegion['REF_DATE'].dt.strftime('%Y%m')
df_PopulationRegion.rename(columns={'REF_DATE': 'Date'}, inplace=True)

#df_PopulationRegion.head(306)

In [8]:
merged_df = pd.merge(df_CPI, df_Housing, on='Date', how='outer')
merged_df = pd.merge(merged_df, df_HPIRegions, on='Date', how='outer')
merged_df = pd.merge(merged_df, df_Income, on='Date', how='outer')
merged_df = pd.merge(merged_df, df_Interest, on='Date', how='outer')
merged_df = pd.merge(merged_df, df_PopulationRegion, on='Date', how='outer')

merged_df.head(10000)

,CPI,Date,total_dwelling,total_dwelling_market,labour_participation_rate,unemployment_rate,disposable_income_change,rental_vacancy_rate,rental_avilability_rate,owned_accommodation_costs_change,...,20000,30000,40000,50000,60000,80000,100000,Mortgage Rate,Interest Rate,Population estimate
0,6.0,191401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.1,191501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.7,191601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7.9,191701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8.9,191801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918,NaN,194907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13475000.0
1919,NaN,194910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13548000.0
1920,NaN,195004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13663000.0
1921,NaN,195007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13737000.0
1922,NaN,195010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13807000.0

In [9]:
merged_df.shape

(1923, 28)

In [10]:
merged_df.isna().sum()

CPI                                  1733
Date                                    0
total_dwelling                       1884
total_dwelling_market                1884
labour_participation_rate            1884
unemployment_rate                    1884
disposable_income_change             1884
rental_vacancy_rate                  1884
rental_avilability_rate              1884
owned_accommodation_costs_change     1884
rental_accommodation_costs_change    1884
Type                                  429
avg_employment_income                1914
median_employment_income             1914
population_with_income               1914
0                                    1914
5000                                 1914
10000                                1914
20000                                1914
30000                                1914
40000                                1914
50000                                1914
60000                                1914
80000                                1914
100000                               1914
Mortgage Rate                          72
Interest Rate                          72
Population estimate                  1285
dtype: int64

In [11]:
merged_df.isna().sum(axis=1)

0       26
1       26
2       26
3       26
4       26
        ..
1918    26
1919    26
1920    26
1921    26
1922    26
Length: 1923, dtype: int64

In [12]:
salary_distribution = merged_df[["0", "5000", "10000", "20000", "30000", "40000", "50000", "60000", "80000", "100000"]]
salary_distribution

       0  5000  10000  20000  30000  40000  50000  60000  80000  100000
0    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
1    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
2    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
3    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
4    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
...   ..   ...    ...    ...    ...    ...    ...    ...    ...     ...
1918 NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
1919 NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
1920 NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
1921 NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN
1922 NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN

[1923 rows x 10 columns]

In [13]:
filtered_salary_distribution = salary_distribution.dropna(inplace=False)
filtered_salary_distribution

         0  5000  10000  20000  30000  40000  50000  60000  80000  100000
190   13.8   8.6   12.3    9.6    9.3    8.6    7.8   11.2    8.1    10.6
199   12.5   8.3   13.3   10.8    9.9    9.5    7.8   10.9    7.4     9.7
200   12.4   7.9   13.1   11.0   10.0    9.3    7.6   11.1    7.0    10.5
201   12.5   7.9   13.0   10.5   10.5    9.4    7.5   11.1    6.8    10.8
202   12.1   7.6   13.4   10.9   10.0    9.1    7.8   11.0    7.5    10.5
203   12.2   7.6   13.0   11.3   10.3    9.2    7.7   11.0    7.1    10.5
204   11.9   7.5   12.6   10.5   10.4    9.8    7.7   12.0    7.4    10.2
1576  12.7   7.5   12.9   11.0    9.8    9.6    7.7   11.0    7.4    10.5
1577  12.3   7.1   12.8   11.1   10.2    9.3    8.1   11.1    7.5    10.5

In [14]:
income = merged_df[["avg_employment_income", "median_employment_income", "population_with_income"]]
income

     avg_employment_income median_employment_income population_with_income
0                      NaN                      NaN                    NaN
1                      NaN                      NaN                    NaN
2                      NaN                      NaN                    NaN
3                      NaN                      NaN                    NaN
4                      NaN                      NaN                    NaN
...                    ...                      ...                    ...
1918                   NaN                      NaN                    NaN
1919                   NaN                      NaN                    NaN
1920                   NaN                      NaN                    NaN
1921                   NaN                      NaN                    NaN
1922                   NaN                      NaN                    NaN

[1923 rows x 3 columns]

In [15]:
filtered_income = income.dropna(inplace=False)
filtered_income

     avg_employment_income median_employment_income population_with_income
190                 47,500                   36,100             21,457,000
199                 46,300                   35,000             20,070,000
200                 47,300                   35,500             20,238,000
201                 47,600                   36,000             20,598,000
202                 47,800                   36,000             20,549,000
203                 47,400                   35,600             20,619,000
204                 47,600                   37,200             21,764,000
1576                47,900                   35,900             21,012,000
1577                48,200                   36,500             21,444,000

In [19]:
rate_of_change = merged_df[["total_dwelling", "total_dwelling_market", "labour_participation_rate", "unemployment_rate", "disposable_income_change", "rental_avilability_rate", "owned_accommodation_costs_change", "rental_accommodation_costs_change"]]
rate_of_change

,total_dwelling,total_dwelling_market,labour_participation_rate,unemployment_rate,disposable_income_change,rental_avilability_rate,owned_accommodation_costs_change,rental_accommodation_costs_change
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
filtered_rate_of_change = rate_of_change.dropna(inplace=False)
filtered_rate_of_change

,total_dwelling,total_dwelling_market,labour_participation_rate,unemployment_rate,disposable_income_change,rental_avilability_rate,owned_accommodation_costs_change,rental_accommodation_costs_change
100,6595.235294,6112.823529,66.253725,8.080206,1.409279,4.744118,0.513932,2.606901
101,6595.235294,6112.823529,66.253725,8.080206,1.409279,4.744118,0.513932,2.606901
102,6595.235294,6112.823529,66.253725,8.080206,1.409279,4.744118,0.513932,2.606901
103,5800.722222,5250.527778,66.152130,8.039639,2.120864,4.702778,0.162776,1.856087
104,5800.722222,5250.527778,66.152130,8.039639,2.120864,4.702778,0.162776,1.856087
105,5800.722222,5250.527778,66.152130,8.039639,2.120864,4.702778,0.162776,1.856087
106,5951.485714,5347.114286,66.150524,7.897915,0.080442,4.722857,-0.588238,1.444960
107,5951.485714,5347.114286,66.150524,7.897915,0.080442,4.722857,-0.588238,1.444960
108,5951.485714,5347.114286,66.150524,7.897915,0.080442,4.722857,-0.588238,1.444960
109,4314.857143,3822.628571,66.122190,7.655057,0.790933,4.722857,2.071923,1.304224
110,4314.857143,3822.628571,66.122190,7.655057,0.790933,4.722857,2.071923,1.304224
111,4314.857143,3822.628571,66.122190,7.655057,0.790933,4.722857,2.071923,1.304224
112,4940.857143,4391.828571,66.107905,7.646486,0.270002,4.722857,-0.153203,1.204672
113,4940.857143,4391.828571,66.107905,7.646486,0.270002,4.722857,-0.153203,1.204672
114,4940.857143,4391.828571,66.107905,7.646486,0.270002,4.722857,-0.153203,1.204672
115,6079.114286,5532.657143,66.181952,7.589343,0.881816,4.722857,-0.778951,1.163253
116,6079.114286,5532.657143,66.181952,7.589343,0.881816,4.722857,-0.778951,1.163253
117,6079.114286,5532.657143,66.181952,7.589343,0.881816,4.722857,-0.778951,1.163253
118,5971.000000,5461.657143,66.268857,7.386486,3.205237,4.722857,0.166927,1.142310
119,5971.000000,5461.657143,66.268857,7.386486,3.205237,4.722857,0.166927,1.142310
120,5971.000000,5461.657143,66.268857,7.386486,3.205237,4.722857,0.166927,1.142310
121,6761.457143,6181.828571,66.349095,7.272200,3.789150,4.722857,1.308558,1.068505
122,6761.457143,6181.828571,66.349095,7.272200,3.789150,4.722857,1.308558,1.068505
123,6761.457143,6181.828571,66.349095,7.272200,3.789150,4.722857,1.308558,1.068505
190,7803.878571,7287.678571,66.925560,7.310905,2.808893,4.369286,1.795270,1.431748
191,9388.200000,8710.142857,67.299048,7.283661,2.305991,4.722857,1.229291,2.061944
192,9849.685714,9157.342857,67.906190,6.964344,0.880114,4.722857,2.509410,1.547640
193,10269.885714,9520.971429,68.162619,6.848561,3.172718,4.722857,2.456991,0.973967
194,9683.371429,8891.228571,67.780476,6.476710,1.570965,4.600000,2.921821,0.874379
195,9696.828571,8903.742857,67.729286,6.157667,5.211388,4.200000,4.505913,1.148197
196,9529.342857,8702.428571,68.175714,5.722256,4.282028,3.905714,5.916857,1.926699
197,9058.028571,8509.685714,68.337143,5.819933,5.536636,3.568571,5.237864,2.676810
198,6491.800000,6050.857143,67.975714,7.678529,2.677437,4.491429,1.264396,2.335258
199,9679.742857,9167.314286,67.327619,7.088706,3.173430,4.220000,1.165331,1.490162
200,8326.342857,7881.142857,66.973333,6.921815,2.661442,4.697143,0.919534,1.698100
201,8353.371429,7917.714286,66.689762,6.769122,0.909733,4.394286,1.697017,1.454258
202,8893.371429,8553.057143,66.738095,6.802205,3.446983,5.114286,1.433806,1.320922
203,8721.264706,8294.029412,66.284559,6.911638,3.446983,5.411765,1.706484,0.613593
204,6789.714286,6147.814286,66.400167,7.675057,-1.706333,4.722857,5.382578,3.452544

In [17]:
filtered_df = merged_df.drop(columns = ["0", "5000", "10000", "20000", "30000", "40000", "50000", "60000", "80000", "100000"], inplace=False)
filtered_df

,CPI,Date,total_dwelling,total_dwelling_market,labour_participation_rate,unemployment_rate,disposable_income_change,rental_vacancy_rate,rental_avilability_rate,owned_accommodation_costs_change,rental_accommodation_costs_change,Type,avg_employment_income,median_employment_income,population_with_income,Mortgage Rate,Interest Rate,Population estimate
0,6.0,191401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.1,191501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.7,191601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7.9,191701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8.9,191801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918,NaN,194907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13475000.0
1919,NaN,194910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13548000.0
1920,NaN,195004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13663000.0
1921,NaN,195007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13737000.0
1922,NaN,195010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13807000.0

In [18]:
filtered_df.isna().sum()

CPI                                  1733
Date                                    0
total_dwelling                       1884
total_dwelling_market                1884
labour_participation_rate            1884
unemployment_rate                    1884
disposable_income_change             1884
rental_vacancy_rate                  1884
rental_avilability_rate              1884
owned_accommodation_costs_change     1884
rental_accommodation_costs_change    1884
Type                                  429
avg_employment_income                1914
median_employment_income             1914
population_with_income               1914
Mortgage Rate                          72
Interest Rate                          72
Population estimate                  1285
dtype: int64